.header_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.header_title{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    flex:1;
    -webkit-flex:1;
}
.header_button_div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
}

.header_button_div button{
    margin-right:10px;
}
.header_button_text{
    color: white;
    padding-right: 10px;
    font-size: 18px;
}

.content_slider_div{
    /* border: 1px solid rebeccapurple; */
    height: 240px;
}

.carousel_div{
    height: 240px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
}

.content_card_div{
    display: flex;
    flex-direction: row;
    /* align-items: flex-start; */
    justify-content: center;
    flex-wrap: wrap;
    /* height: 200px; */
}


.header_text{
    color: white;
    font-size: 36px;
}

.dc_main{
    width: 400px;
    /* height: 300px; */
    /* border: 1px solid #EEE5DE; */
    /* margin: 10px; */
    /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; */
    padding: 10px;
}

.dc_main img{
    width: 100px;
    height: 150px;
}

.dc_right{
    width: 220px;
    height: 160px;
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dc_all{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.dc_right_detail{
    border: 1px solid black;
    width: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}